.nav{
    height: 100%;
    padding: 100px 40px 50px 40px;
    box-sizing: border-box;

    .body{
        .linkContainer{
            perspective: 120px;
            perspective-origin: bottom;
        }
        display: flex;
        flex-direction: column;
        gap:10px;
        a{
            text-decoration: none;
            color: black;
            font-size: 46px;
        }
    }
}